html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    width: 500px;
}
ul{
    text-align: center;
}
ul li{
    display: inline;
    margin: 0;
    padding: auto;
}
h1{
    text-align: center;
}
h2{
    text-align: left;
}
ul{
    list-style: none;
    padding: 0;
}